<div class="app-content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span id="header"> Order Services</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="app-content">
  <mat-card>
    <mat-card-title> Trade Creation</mat-card-title>
    <mat-card-subtitle>Trade Creation Form</mat-card-subtitle>
    <mat-card-content>
   <section>
  <div class="form-container">
    <form [formGroup]="tradeCreation" (ngSubmit)="onSubmit(tradeCreation)" >
      <mat-form-field>
        <label for="tradeId">Trade Id: </label>
        <input matInput type="text" id="tradeId" name="tradeId" formControlName="tradeId">
      </mat-form-field>
      <mat-form-field>
        <label for="tradeName">Trade Name: </label>
        <input matInput type="text" id="tradeName" name="tradeName" formControlName="tradeName">
      </mat-form-field>
      <mat-form-field>
        <label for="quantity">Quantity: </label>
        <input matInput type="text" name="quantity" formControlName="quantity" >
      </mat-form-field>
      <button mat-raised-button type="submit" >Create</button>

    </form>
  </div>
</section>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title> Basic Card</mat-card-title>
    <mat-card-subtitle>Basic Card Subtitle</mat-card-subtitle>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Trades List">
          <router-outlet></router-outlet>
        </mat-tab>
        <mat-tab label="Tab2">
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>




</div>